.empty-cart {
    @apply w-full h-[50vh] bg-center bg-no-repeat bg-contain;
    background: url("https://cdni.iconscout.com/illustration/premium/thumb/empty-cart-2130356-1800917.png") no-repeat;
    background-size: contain;
    background-position: center;
}
